<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homestyle.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <div id="main">
        
        <form id="searchForm" action="/HomePageSearch" method="POST">
            <div id="inputSearch">
                <input type="text" name="search" id="search" placeholder="Search for a site...">
            </div>
        </form>

        <div id="screenCards">

            {% if credentials %}
            {% for credential in credentials %}
                <div class="note">
                    <div class="noteTitle">
                        <h3>{{ credential["site"] }}</h3>
                    </div>    
                    <div class="noteContent">
                        <p>{{ credential["user"] }}</p>
                        <p>{{ credential["password"] }}</p>
                    </div>            
                </div>
            {% endfor %}
        {% else %}
            <p id="notFound">You do not have credentials on this site: {{ site }}.</p>
        {% endif %}

        </div>

    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>